# CineSuggest

In [237]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
import numpy as np
import pandas as pd
import re
import sklearn
from sklearn.metrics.pairwise import cosine_similarity

[nltk_data] Downloading package punkt to /Users/robert/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/robert/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [238]:
df = pd.read_csv('imdb.csv')

In [239]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [240]:
# df['Series_Title'] = df['Series_Title'].apply(lambda i: i.split(','))

In [241]:
df['Series_Title'][1]

'The Godfather'

In [242]:
df['Overview'] = df['Overview'].str.lower()
df['Overview'] = df['Overview'].apply(lambda i: re.sub('[^a-zA-Z]', ' ', i))
df['Overview'] = df['Overview'].apply(lambda i: re.sub('\s+', ' ', i))

In [243]:
df['Overview']

0      two imprisoned men bond over a number of years...
1      an organized crime dynasty s aging patriarch t...
2      when the menace known as the joker wreaks havo...
3      the early life and career of vito corleone in ...
4      a jury holdout attempts to prevent a miscarria...
                             ...
995    a young new york socialite becomes interested ...
996    sprawling epic covering the life of a texas ca...
997    in hawaii in a private is cruelly punished for...
998    several survivors of a torpedoed merchant ship...
999    a man in london tries to help a counter espion...
Name: Overview, Length: 1000, dtype: object

In [ ]:
df['Overview'] = df['Overview'].apply(lambda i: nltk.word_tokenize(i))
df['Overview']

In [ ]:
word_rem = nltk.corpus.stopwords.words('english')
temp_list = []
for sent in df['Overview']:
    temp = []
    for word in sent:
        if word not in word_rem and len(word) >= 3:
            temp.append(word)
    temp_list.append(temp)
temp_list

In [ ]:
df['Overview'] = temp_list
df['Overview']

In [ ]:
df['Genre'] = df['Genre'].apply(lambda i: i.split(','))
df['Genre'][0]

In [ ]:
df['Actors'] = df['Star1'] +','+ df['Star2'] +','+ df['Star3'] +','+ df['Star4']
df['Actors'] = df['Actors'].apply(lambda i: i.split(','))

In [ ]:
df['Actors'][85]

In [ ]:
df['Director'] = df['Director'].apply(lambda i: i.split(','))
df['Director'][0]

In [ ]:
def lowlow(lst):
    temp_lst = []
    for i in lst:
        temp_lst.append(i.lower().replace(' ', ''))
    return temp_lst

In [ ]:
df['Director'] = [lowlow(i) for i in df['Director']]
df['Genre'] = [lowlow(i) for i in df['Genre']]
df['Actors'] = [lowlow(i) for i in df['Actors']]

In [ ]:
df['Director'][0]

In [ ]:
df['Genre'][0]

In [ ]:
df['Actors'][0]

In [ ]:
col_list = ['Overview', 'Genre', 'Director', 'Actors']
new_list = []
for i in range(len(df)):
    words = ''
    for col in col_list:
        words += ' '.join(df[col][i]) + ' '
    new_list.append(words)

In [ ]:
new_list

In [ ]:
df['Overview'] = new_list
df = df[['Series_Title', 'Overview']]
df.head()

In [ ]:
# computes the term frequency (TF) for each term in each document, which is the number of 
# times a term appears in a document

tfi_vect = TfidfVectorizer()

# fits the vectorizer to the training data
feats = tfi_vect.fit_transform(df['Overview'])

In [ ]:
# looks for similiarites in words in Overview rows
cos_sim = cosine_similarity(feats, feats)
print(cos_sim)

In [ ]:
index = pd.Series(df['Series_Title'])
index.head()

In [ ]:
def suggest(title):
    movies = []
    idx = index[index == title].index[0]
    print(idx)
    sims = pd.Series(cos_sim[idx]).sort_values(ascending=False)
    top3 = list(sims.iloc[1:4].index)
    print(top3)
    
    for i in top3:
        movies.append(df['Series_Title'][i])
    return movies

In [ ]:
suggest('12 Angry Movies')